body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background-repeat: no-repeat;
  background-color: #DDDDDD;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  height: 100%
}

a {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
	text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}
