.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica;
  margin-bottom: 1em;
  margin-top: 1em;
  align: left;
  text-align: left;
  word-wrap: break-word;
}

.sourceCode {
  background-color: #444444;
  color: white;
  border: none;
  outline: none;
  font-family: monospace;
  align: left;
  text-align: left;
  padding: 0.5em;
  word-wrap: break-word;
  box-shadow: 0.2em 0.2em 0.4em #99c;
}

.leftPanel {
  float: left;
  display: block;
  width: 49.3%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.rightPanel {
  float: right;
  display: block;
  width: 49.3%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.paper {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media only screen and ( max-width: 60em ){
  .leftPanel {
    width: 100%;
  }

  .rightPanel {
    width: 100%;
  }
}
