.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica;
  margin-bottom: 1em;
  align: left;
  text-align: left;
  word-wrap: break-word;
}

.sourceCode {
  background-color: #dddddd;
  color: black;
  border: none;
  outline: none;
  font-family: monospace;
  align: left;
  text-align: left;
  padding: 0.5em;
  word-wrap: break-word;
  box-shadow: 0.2em 0.2em 0.4em #99c;
}

.payment {
	background-color: #dddddd;
  color: black;
  border: none;
  outline: none;
  align: left;
  text-align: left;
  padding: 0.5em;
  word-wrap: break-word;
  box-shadow: 0.2em 0.2em 0.4em #99c;
  margin: 0.5em;
}
