.mainContent {
  align: center;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mainHeading {
  font-family: helvetica;
  font-weight: bold;
  font-size: 2em;
}
