.container {
  width: 100%;
  margin: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0px;
  display: inline-block;
  vertical-align: top;
}

.paper {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.content {
  padding: 2em;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
